<?xml version="1.0" encoding="Windows-1252"?>
<CFProjPrefs xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <projectPath>D:/Unity/games buyer/Dubai/uber game/bus uber game 5.6/Assets</projectPath>
  <isIsntalled>false</isIsntalled>
  <wasShown>false</wasShown>
  <installedVer>0</installedVer>
</CFProjPrefs>